.MuiDrawer-paper {
     background: linear-gradient(to bottom, #0d2e68, #00001c);
     overflow-x: hidden;
}

.MuiDrawer-paper::-webkit-scrollbar {
     width: 10px;
}

.MuiDrawer-paper::-webkit-scrollbar-track {
     background: #f1f1f1;
}

.MuiDrawer-paper::-webkit-scrollbar-thumb {
     background: #31599e;
}

.link-active .MuiListItem-root {
     background: #000027;
}

.textfield-label {
     color: #0d2e68 !important;
}

#label-id {
     color: #000;
}

.trash {
     visibility: visible;
     animation: popTrash 0.2s ease-in-out;
}

.fade-in-trash {
     animation: fadeTrash 0.2s ease-in-out forwards;
}

@keyframes fadeTrash {
     0% {
          opacity: 1;
          transform: translate(0, 0px);
     }
     100% {
          opacity: 0;
          transform: translate(0, -10px);
          visibility: hidden;
     }
}

@keyframes popTrash {
     0% {
          opacity: 0;
          transform: translate(0, -10px);
     }
     100% {
          opacity: 1;
          transform: translate(0, 0px);
     }
}
